TELEGRAM_BOT_TOKEN = "8227777093:AAEiUFafU8ATYcPlYBX0ikJSe-GGhOQimGE"
CLERK_PUBLISHABLE_KEY=pk_test_Y2xlYXItcGxhdHlwdXMtNTk1MS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_VXdXAQNmABDPXFE5H9bvwfc7edqzzQFUF8vcCeFDAc